<div id="page-content-wrapper">
  <div class="container-fluid">
    <%= form_for @user, :as => :user, :url => home_save_user_path(@user), :method => :post do |f| %>
      <% if @errors.present? %>
        <div>
          <ul>
          <% @errors.each do |k,v| %>
            <li class="alert alert-danger"><%= k %> <%= v[0] %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= render 'layouts/messages' %>
      <div class="row">
        <div class="col-md-6">
          <div class="field">
            <%= label_tag :name %><br>
            <%= f.text_field :name, :class => "form-control", :required => "required" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="field">
            <%= label_tag :email %><br>
            <%= f.email_field :email, :class => "form-control", :required => "required" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="field">
            <%= label_tag :password %><br>
            <%= f.password_field :password, :class => "form-control", :required => "required" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="field">
            <%= label_tag :password_confirmation %><br>
            <%= f.password_field :password_confirmation, :class => "form-control", :required => "required" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="field">
            <%= label_tag :role %><br>
            <%= f.select :role_cd, options_for_select([["Director", 2],["Manager", 1],["Executive",0]]),{},{:class => "form-control"} %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="actions">
            <%= submit_tag "Create", :class => "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>  
