  <div id="page-content">
  <div class="content-header">
    <div class="header-section">
      <h1>
        <i class="fa fa-users"></i>
        HR
        <br>
        <br>
        <small></small>
      </h1>
    </div>
  </div>
  <ul class="breadcrumb breadcrumb-top">
    <li>Dashboard</li>
    <li><a href="/hr">HR</a></li>
  </ul>
  <%= render 'layouts/messages' %>
  <div class="block">
    <div class="block-title">
      <h2>HR</h2>
    </div>
    <%= link_to 'New HR', home_add_hr_path, :class => "btn btn-default" %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Company</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.company.present? ? user.company.name : "" %></td>
            <td><%= link_to "Edit", home_edit_user_path({:id => user.id}), :class => "btn btn-warning" %>
            <%= link_to "Delete", home_delete_user_path({:id => user.id}), :method => :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

